@import '../../styles/common.scss';

.Main {
  height: 100vh;

  main {
    background-image: url(http://localhost:3000/images/main.jpg);
    height: 75%;
    max-height: 1000px;
    background-size: cover;
    background-position: center;
    @include display-flex(center, center);
    flex-direction: column;

    .mainTextWrap {
      @include display-flex(center, flex-start);
      flex-direction: column;
      padding-right: 170px;
      height: 100%;

      h1 {
        font-size: 75px;
        line-height: 1.25;
        font-weight: bold;
        color: $color-font;
      }

      p {
        font-size: 30px;
        line-height: 1.25;
        color: $color-font;

        strong {
          font-weight: bold;
        }
      }

      button {
        height: 80px;
        width: 240px;
        border-radius: 40px;
        margin-top: 30px;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: $color-logo;
        font-size: 25px;
        font-weight: bold;
        color: white;
      }
    }
  }

  .footTop {
    height: 100px;
    @include display-flex(center, center);
    background-color: bisque;

    h2 {
      font-size: 30px;
    }
  }
}
