@import '../../styles/common.scss';
@import '../../styles/variables.scss';

.Cart {
  display: flex;
  justify-content: center;

  h2 {
    font-weight: bolder;
    font-size: 23px;
  }

  .cartView {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 800px;

    .cartTop {
      display: flex;
      margin-bottom: 30px;
      justify-content: space-between;

      h1 {
        font-size: 30px;
      }

      .cartTopBtn {
        button {
          margin-right: 10px;
          font-weight: bolder;
          color: $color-font;
          padding: 10px;
          background-color: white;
          border: 1px solid lightgray;
          border-radius: 20px;
        }
      }
    }

    .cartList {
      display: inline-flex;
      margin-top: 20px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

      input[type='checkbox' i] {
        margin-top: 70px;
      }

      img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
      }

      .listDetail {
        width: 700px;
        margin-top: 30px;
        margin-left: 15px;
        display: inline-flex;
        flex-direction: column;
        .listFont {
          font-size: 20px;
          margin-left: 10px;
          text-decoration: underline;
        }
      }
      .countBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btnDetail {
          padding: 10px;
          span {
            align-items: center;
            font-weight: bolder;
            font-size: 20px;
            padding: 20px;
          }
          button {
            width: 40px;
            height: 40px;
            background: #fff;
            border: 1px solid #dfdfdf;
            outline: none;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
            padding: 0;
          }
        }

        .productPrice {
          display: flex;

          p {
            font-weight: bolder;
            margin-left: 397px;
          }
        }
      }
    }

    .cartDetail {
      margin-top: 40px;
      .cartBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .cartRead {
          padding-bottom: 30px;
          display: flex;
          justify-content: space-between;
        }
        .deliveryPrice {
          padding-bottom: 20px;
          display: flex;
          justify-content: space-between;
        }
      }

      .productView {
        padding: 10px;

        .productDiscount {
          background-color: #f0f0f0;
          padding: 20px;
          padding-bottom: 20px;
          display: flex;
          justify-content: space-between;
        }
        .deliveryDiscount {
          background-color: #fafafa;
          padding: 20px;
          padding-bottom: 20px;
          display: flex;
          justify-content: space-between;
        }
        .pointDiscount {
          background-color: #fafafa;
          padding: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .cartPrice {
      margin-top: 30px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .totalPrice {
        font-weight: bolder;
        font-size: 20px;
        color: salmon;
      }
    }

    .cartFooterBtn {
      margin-top: 110px;
      text-align: center;

      button {
        font-weight: bolder;
        font-size: 15px;
        width: 300px;
        border-radius: 30px;
        color: white;
        padding: 20px;
        background-color: red;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
