@import '../../styles/variables.scss';

.Cart {
  display: flex;
  justify-content: center;
  color: $color-font;

  .cartListTitle {
    font-weight: bolder;
    font-size: 23px;
  }

  .cartView {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 150px;

    .cartTop {
      display: flex;
      margin-bottom: 40px;
      justify-content: space-between;

      .cartTopTitle {
        font-size: 30px;
      }

      .cartTopButtonWrppaer {
        .topBtn {
          padding: 10px;
          margin-right: 10px;
          color: $color-font;
          background-color: white;
          border: 1px solid lightgray;
          border-radius: 20px;
          font-weight: bolder;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .cartList {
      display: inline-flex;
      flex-direction: column;
      margin-top: 20px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

      .productList {
        display: flex;

        input[type='checkbox'] {
          margin-top: 30px;
          zoom: 2;
        }

        .cartListImg {
          width: 110px;
          height: 110px;
          margin-top: 20px;
          margin-left: 10px;
          margin-bottom: 20px;
        }

        .listDetail {
          display: inline-flex;
          flex-direction: column;
          width: 700px;
          margin-top: 30px;
          margin-left: 15px;

          .listTop {
            display: flex;
            justify-content: space-between;

            .removeButton {
              width: 40px;
              height: 27px;
              padding: 0;
              background: #fff;
              border: 1px solid #dfdfdf;
              border-radius: 10px;
              text-align: center;
            }

            .listFont {
              margin-left: 10px;
              font-size: 20px;
              text-decoration: underline;
            }
          }
        }
      }

      .countButtonWrppaer {
        @include display-flex;

        .btnDetail {
          padding: 10px;

          .countNum {
            padding: 20px;
            align-items: center;
            font-weight: bolder;
            font-size: 20px;
          }

          .countButton {
            width: 40px;
            height: 40px;
            padding: 0;
            background: #fff;
            border: 1px solid #dfdfdf;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
            outline: none;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .boxRight {
          display: flex;

          .boxPrice {
            margin-left: 397px;
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }
    }

    .cartDetail {
      margin-top: 40px;

      .cartBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cartRead {
          display: flex;
          padding-bottom: 30px;
          justify-content: space-between;
        }

        .deliveryPrice {
          @extend .cartRead;
          padding-bottom: 20px;
        }
      }

      .productView {
        padding: 10px;

        .productDiscount {
          display: flex;
          padding: 20px;
          background-color: #f0f0f0;
          justify-content: space-between;

          .discountTitle {
            font-weight: bolder;
          }
        }

        .deliveryDiscount {
          @extend .productDiscount;
          background-color: #fafafa;
        }

        .pointDiscount {
          @extend .deliveryDiscount;
          border-bottom: 2px solid black;
        }
      }
    }

    .cartPrice {
      display: flex;
      margin-top: 30px;
      padding-bottom: 10px;
      justify-content: space-between;

      .totalPriceText {
        font-size: 18px;
        font-weight: bolder;
      }

      .totalPrice {
        color: $color-logo;
        font-weight: bolder;
        font-size: 20px;
      }
    }

    .cartFooterButtonWrppaer {
      margin-top: 110px;
      text-align: center;

      .resultBtn {
        width: 300px;
        padding: 20px;
        color: white;
        background-color: $color-logo;
        border-radius: 30px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        font-weight: bolder;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
