@import '../../styles/variables.scss';

@mixin cart-style {
  display: flex;
  justify-content: space-between;
}

.Cart {
  display: flex;
  justify-content: center;
  color: $color-font;

  .cartListTitle {
    font-weight: bolder;
    font-size: 23px;
  }

  .cartView {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 150px;

    .cartTop {
      @include cart-style;
      margin-bottom: 40px;

      .cartTopTitle {
        font-size: 30px;
      }

      .cartTopButtonWrppaer {
        .topBtn {
          padding: 10px;
          margin-right: 10px;
          color: $color-font;
          background-color: white;
          border: 1px solid lightgray;
          border-radius: 20px;
          font-weight: bolder;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    // 장바구니가 비었을시 보이는 페이지
    .CartListNull {
      @include display-flex;
      flex-direction: column;
      margin-top: 90px;

      .nullImg {
        display: flex;
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
      }

      .nullTitle {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bolder;
      }

      .nullContent {
        text-align: center;
        font-size: 15px;
        line-height: 1.4;
      }

      .nullBtn {
        width: 200px;
        padding: 15px;
        margin: 40px 0px 50px 0px;
        color: white;
        background-color: $color-logo;
        border-radius: 30px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
        font-weight: bolder;
        font-size: 15px;
      }
    }

    .cartList {
      display: inline-flex;
      flex-direction: column;
      margin-top: 30px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

      .productList {
        display: flex;

        .cartListImgWrapper {
          width: 80px;
          margin-top: 30px;

          .cartListImg {
            width: 70px;
            height: 30px;
            margin: 30px 20px 30px 30px;
          }
        }

        .listDetail {
          display: inline-flex;
          flex-direction: column;
          width: 700px;
          margin: 30px 0px 20px 20px;

          .listTop {
            @include cart-style;

            .removeButton {
              width: 40px;
              height: 27px;
              padding: 0;
              background: #fff;
              border: 1px solid #dfdfdf;
              border-radius: 10px;
              text-align: center;
            }

            .listFont {
              margin-left: 40px;
              font-size: 20px;
              text-decoration: underline;
              text-underline-position: under;
            }
          }
        }
      }

      .countButtonWrppaer {
        @include display-flex;

        .btnDetail {
          margin-right: 22px;

          .countNum {
            padding: 20px;
            align-items: center;
            font-weight: bolder;
            font-size: 20px;
          }

          .countButton {
            width: 40px;
            height: 40px;
            padding: 0;
            background: #fff;
            border: 1px solid #dfdfdf;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
            outline: none;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .boxRight {
          display: flex;

          .boxPrice {
            margin-left: 397px;
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }
    }

    .productView {
      padding: 10px;

      .productDiscount {
        @include cart-style;
        padding: 20px;
        background-color: #f0f0f0;

        .discountTitle {
          font-weight: bolder;
        }
      }

      .pointDiscount {
        @extend .productDiscount;
        background-color: #fafafa;
      }
    }
  }

  .cartPrice {
    @include cart-style;
    margin-top: 30px;
    padding-bottom: 10px;

    .totalPriceText {
      font-size: 18px;
      font-weight: bolder;
    }

    .totalPrice {
      color: $color-logo;
      font-weight: bolder;
      font-size: 20px;
    }
  }

  .cartFooterButtonWrppaer {
    margin-top: 110px;
    text-align: center;

    .resultBtn {
      width: 300px;
      padding: 20px;
      color: white;
      background-color: $color-logo;
      border-radius: 30px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      font-weight: bolder;
      font-size: 15px;
      cursor: pointer;
    }
  }
}
