@import '../../../styles/variables.scss';

@mixin cart-Box {
  display: flex;
  justify-content: space-between;
}

.cartListTitle {
  font-weight: bolder;
  font-size: 23px;
}

.cartView {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 150px;

  .cartTop {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;

    .cartTopTitle {
      font-size: 30px;
    }

    .cartTopButtonWrppaer {
      .topBtn {
        padding: 10px;
        margin-right: 10px;
        color: $color-font;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 20px;
        font-weight: bolder;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .cartDetail {
    margin-top: 5px;

    .cartBox {
      @include cart-Box;
      flex-direction: column;
      padding-bottom: 30px;
      border-top: 1px solid lightgray;

      .cartRead {
        @include cart-Box;
        margin-top: 40px;
        padding-bottom: 40px;
      }

      .deliveryPrice {
        @include cart-Box;
      }
    }

    .productView {
      padding: 10px;

      .productDiscount {
        @include cart-Box;
        padding: 20px;
        background-color: #f0f0f0;

        .discountTitle {
          font-weight: bolder;
        }
      }

      .deliveryDiscount {
        @extend .productDiscount;
        background-color: #fafafa;
      }

      .pointDiscount {
        @extend .deliveryDiscount;
        border-bottom: 2px solid black;
      }
    }
  }

  .cartPrice {
    @include cart-Box;
    margin-top: 30px;
    padding-bottom: 10px;

    .totalPriceText {
      font-size: 18px;
      font-weight: bolder;
    }

    .totalPrice {
      color: salmon;
      font-weight: bolder;
      font-size: 20px;
    }
  }

  .cartFooterButtonWrppaer {
    margin-top: 110px;
    text-align: center;

    .resultBtn {
      width: 300px;
      padding: 20px;
      color: white;
      background-color: red;
      border-radius: 30px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      font-weight: bolder;
      font-size: 15px;
      cursor: pointer;
    }
  }
}
