@import '../../../styles/variables.scss';

.Order {
  @include display-flex;
  flex-direction: column;
  margin-top: 300px;

  .orderTitle {
    display: flex;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bolder;

    .orderLine {
      padding-left: 10px;
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  .orderContent {
    margin-top: 10px;
    margin-bottom: 20px;
    color: $color-logo;
    font-size: 20px;
    text-align: center;
    line-height: 2;

    .orderNum {
      font-weight: bolder;
    }
  }

  .orderBtn {
    width: 200px;
    padding: 15px;
    margin: 40px 0px 0px 0px;
    color: white;
    background-color: $color-logo;
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 15px;
  }
}
