@import '../../styles/common.scss';
@import '../../styles/variables.scss';

// common 추가

a {
  color: $color-font;
  text-decoration: none;
  outline: none;
}

// a:hover,
// a:active {
//   text-decoration: none;
//   color: #fff;
//   background-color: #f59000;
// }

.Product {
  .productHeader {
    @include display-flex;
    justify-content: flex-start;

    height: 590px;
    background-image: url('http://localhost:3000/images/producHeader.jpg');
    background-repeat: no-repeat;
    background-position: center;
    //반응형 height 490px
    background-color: #e8c700;
  }
  h1 {
    margin-left: 20%;
    font-size: 36px;
    //반응형  font-size: 36px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
  }

  .productBody {
    @include display-flex;
    padding: 50px 200px;
    background-color: #fafafa;

    .productList {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 840px;
    }
  }
}
