@import '../../styles/variables.scss';

.Product {
  .productHeader {
    @include display-flex;
    justify-content: flex-start;
    height: 590px;
    background-image: url('https://images.unsplash.com/photo-1506365069540-904bcc762636?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  h1 {
    margin-left: 20%;
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
  }

  .productBody {
    @include display-flex;
    position: relative;
    flex-direction: column;
    padding: 50px 90px;
    background-color: #fafafa;

    .productCategory {
      @include display-flex;
      padding-bottom: 10px;
    }

    .productList {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 840px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .productHeader {
    height: 490px;

    h1 {
      font-size: 36px;
    }
  }

  .productBody {
    .productCategory {
      max-width: 400px;

      .ProductCheckBox {
        .categoryText {
          display: none;
        }
      }
    }

    .productList {
      justify-content: center;
    }
  }
}
