@import '../../styles/variables.scss';

.ProductDetail {
  main {
    @include display-flex(center, center);
    height: 550px;
    padding-right: 100px;

    .headTextWrap {
      @include display-flex(space-around, flex-start);
      flex-direction: column;
      height: 450px;
      width: 500px;
      // margin: 100px 0;

      .summary {
        line-height: 1.4;
        font-size: 13px;
      }

      h1 {
        font-size: 36px;
        line-height: 1.25;
        font-weight: bold;
        color: $color-font;
      }

      .propertyIcons {
        @include display-flex(space-around, center);
        width: 150px;
        height: 40px;

        .propertyIcon {
          height: 30px;
        }
      }

      .productDetailDescription {
        font-size: 18px;
        color: $color-font;
        line-height: 1.3;
      }

      .productSaleInfo {
        @include display-flex(space-around, center);
        width: 200px;
        height: 40px;
        font-weight: bold;
        font-size: 20px;
      }

      .certificationIcons {
        @include display-flex(space-around, center);
        width: 200px;
        height: 40px;

        .certificationIconList {
          padding-left: 15px;

          .certificationIcon {
            font-size: 40px;
          }
        }
      }
      .Off {
        background-color: $color-logo;
      }

      .On {
        background-color: rgb(190, 185, 185);
      }

      .cartButton {
        height: 80px;
        width: 240px;
        border-radius: 40px;
        margin-top: 30px;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);
        font-size: 25px;
        font-weight: bold;
        color: white;

        .cartButtonOff {
          background-color: $color-logo;
        }

        .cartButtonOn {
          background-color: beige;
        }
      }
    }
    i {
      font-size: 100px;
      margin-left: 50px;
    }
  }

  .comment {
    @include display-flex(center, center);
    flex-direction: column;
    background-color: white;

    .question {
      @include display-flex(flex-end, flex-end);
      margin-top: 20px;
      box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);

      .recommendTitle {
        @include display-flex(center, center);
        height: 80px;
        width: 750px;
        flex: 8;

        .recommendTitileText {
          font-size: 25px;
          font-weight: bold;
        }
      }

      .recommendToggleButtonIcon {
        flex: 2;
        font-size: 40px;
        margin-bottom: 5px;
      }
    }

    .answer {
      @include display-flex(center, center);
      width: 800px;
      height: 80px;
      padding-top: 10px;
      box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);

      .recommendDescription {
        font-size: 18px;
        line-height: 1.3;
        text-align: center;
      }
    }
  }
  .addedCartAlertWrap {
    position: absolute;
    bottom: 0;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .addedCartAlert {
    @include display-flex(center, center);
    width: 200px;
    height: 55px;
    margin-top: 3px;
    color: #ffffff;
    background-color: rgba(34, 168, 54, 0.6);
    border-radius: 25px;
    animation-name: fadeOut;
    animation-duration: 4s;
  }
}
