@import '../../styles/variables.scss';

.ProductDetail {
  height: 100vh;

  main {
    @include display-flex(space-evenly, center);
    height: 75%;
    max-height: 1000px;
    background-size: cover;
    background-position: center;

    .headTextWrap {
      @include display-flex(center, flex-start);
      flex-direction: column;
      height: 100%;

      h1 {
        font-size: 36px;
        line-height: 1.25;
        font-weight: bold;
        color: $color-font;

        span {
          font-weight: normal;
        }
      }

      p {
        font-size: 16px;
        line-height: 1.25;
        padding-top: 30px;
        color: $color-font;

        strong {
          font-weight: bold;
        }
      }

      .certificationIconList {
        float: left;
        padding-left: 15px;

        .certificationIcon {
          font-size: 40px;
        }
      }

      .Off {
        background-color: $color-logo;
      }

      .On {
        background-color: rgb(190, 185, 185);
      }

      .cartButton {
        height: 80px;
        width: 240px;
        border-radius: 40px;
        margin-top: 30px;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);
        font-size: 25px;
        font-weight: bold;
        color: white;

        .cartButtonOff {
          background-color: $color-logo;
        }

        .cartButtonOn {
          background-color: beige;
        }
      }
    }
    .productImg {
      height: 100px;
      width: 100px;
      background-color: red;
    }
  }

  .comment {
    @include display-flex(center, center);
    flex-direction: column;
    background-color: white;

    .question {
      @include display-flex(flex-end, flex-end);
      margin-top: 20px;
      box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);

      .recommendTitle {
        @include display-flex(center, center);
        height: 80px;
        width: 750px;
        flex: 8;

        .recommendTitileText {
          font-size: 25px;
          font-weight: bold;
        }
      }

      .recommendToggleButtonIcon {
        flex: 2;
        font-size: 40px;
        margin-bottom: 5px;
      }
    }

    .answer {
      @include display-flex(center, center);
      width: 800px;
      height: 80px;
      padding-top: 10px;
      box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.15);

      .recommendDescription {
        font-size: 18px;
      }
    }
  }
}
