@import '../../../styles/variables.scss';

.FootSlide {
  overflow: hidden;

  .slide {
    @include display-flex(center, center);
    width: fit-content;
    transition: transform 0.5s;
    background-color: bisque;

    .slideList {
      display: inline-block;
      background-color: bisque;

      .slideContent {
        @include display-flex(space-between, center);
        flex-direction: column;
        height: 200px;
        width: 100vw;
        padding: 25px;

        img {
          height: 40px;
        }

        h2 {
          font-size: 40px;

          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  .slideButtons {
    @include display-flex(center, none);
    height: 50px;
    background-color: bisque;

    .slideControlButton {
      cursor: pointer;
    }
  }
}
