@import '../../../styles/variables.scss';

.FootSlide {
  overflow: hidden;

  .slide {
    height: 200px;
    // width: 100vw;
    transition: transform 0.5s;
    @include display-flex(center, center);
    background-color: bisque;

    li {
      width: 100vw;
      height: 100%;
      display: inline-block;
      background-color: bisque;

      div {
        @include display-flex(space-around, center);
        flex-direction: column;
        height: 80%;
        padding: 30px;

        img {
          height: 40px;
        }

        h2 {
          font-size: 40px;

          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  ul {
    @include display-flex(center, none);
    height: 50px;
    background-color: bisque;

    .slideCtr {
      cursor: pointer;
    }
  }
}
