@import '../../styles/common.scss';

@mixin border-color {
  border: 1px solid lightgray;
  border-radius: 5px;
}

@mixin border-radius {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.signupView {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 100px 200px 100px 600px;

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .signupName {
    margin-top: 20px;

    .signupHeader {
      font-size: 13px;
      color: gray;
    }

    .signupInput {
      @include border-color;
      width: 500px;
      height: 40px;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  .signup_phone {
    .signupHeader {
      position: flex;
      font-size: 13px;
      color: gray;
    }

    .signupInput {
      @include border-color;
      width: 500px;
      height: 40px;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  .signup_detail {
    margin-top: 30px;

    .signupHeader {
      position: flex;
      font-size: 13px;
      color: gray;
    }

    .signupInput {
      @include border-color;
      margin-top: 5px;
      margin-bottom: 20px;
      padding: 10px;
      width: 500px;
      height: 40px;
    }
  }

  .check_all {
    display: inline-block;
    border-bottom: 1px solid lightgray;
    width: 500px;
    margin-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;

    .signupCheckbox {
      margin-right: 10px;
    }
  }

  .checkDetail {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;

    .signupCheckbox {
      margin-top: 10px;
      margin-right: 10px;
    }
  }

  .footerButton {
    margin-left: 100px;

    .signupSubmit {
      @include border-radius;
      color: white;
      font-weight: bolder;
      background-color: salmon;
      margin-top: 40px;
      margin-bottom: 50px;
    }

    .kakao {
      @include border-radius;
      background-color: #ffd700;
      color: white;
    }

    .facebook {
      @include border-radius;
      background-color: #0a6ecd;
      color: white;
    }

    .naver {
      @include border-radius;
      background-color: #64cd3c;
      color: white;
    }
  }
}
