@import '../../styles/common.scss';

.signup_view {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 100px 200px 100px 700px;
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .signup_name {
    margin-top: 20px;
    span {
      font-size: 13px;
      color: gray;
    }
    input {
      width: 500px;
      height: 40px;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  .signup_phone {
    span {
      position: flex;
      font-size: 13px;
      color: gray;
    }
    input {
      width: 500px;
      height: 40px;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  .signup_detail {
    margin-top: 30px;
    span {
      margin-top: 15px;
      position: flex;
      font-size: 13px;
      color: gray;
    }
    input {
      margin-top: 5px;
      margin-bottom: 20px;
      padding: 10px;
      width: 500px;
      height: 40px;
      border: 1px solid lightgray;
      border-radius: 5px;
    }
  }

  .check_all {
    display: inline-block;
    border-bottom: 1px solid lightgray;
    width: 600px;
    margin-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
  }

  .signup_check {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    input {
      margin-top: 10px;
    }
  }

  .footer_button {
    text-align: center;
    .signup {
      color: white;
      font-weight: bolder;
      background-color: salmon;
      width: 300px;
      height: 50px;
      border-radius: 20px;
      margin-top: 40px;
      margin-bottom: 50px;
    }

    .kakao {
      background-color: #ffd700;
      width: 300px;
      height: 50px;
      border-radius: 20px;
      margin-bottom: 20px;
    }

    .facebook {
      background-color: #0a6ecd;
      color: white;
      width: 300px;
      height: 50px;
      border-radius: 20px;
      margin-bottom: 20px;
    }

    .naver {
      background-color: #64cd3c;
      color: white;
      width: 300px;
      height: 50px;
      border-radius: 20px;
      margin-bottom: 20px;
    }
  }
}
