@import '../../styles/variables.scss';

.navbar {
  @include display-flex(center, center);
  top: 0;
  left: 0;
  right: 0;
  background-color: white;

  .navLogo {
    .logo_img {
      display: flex;
      width: 100px;
      height: 60px;
    }
  }

  .nav_menu {
    display: inline;
    margin: 20px;
    margin-left: 250px;
    justify-content: space-between;

    .nav_list {
      display: inline;
      margin-left: 10px;

      .nav_link {
        list-style: none;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        padding: 20px;

        &:hover {
          cursor: pointer;
          opacity: 2;
          transition: 0.1s;
          color: #ff8200;
        }
        &:active {
          color: #ff8200;
        }
        &:enabled {
          color: #ff8200;
        }
      }
    }
  }
}
